version: "3.9"

services:
  web:
    build: .
    container_name: thabicare_web
    command: gunicorn thabicare_admin.wsgi:application --bind 0.0.0.0:8000
    env_file:
      - .env
    volumes:
      - .:/app
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    depends_on:
      - db

  db:
    image: postgres:15-alpine
    container_name: thabicare_db
    restart: always
    environment:
      POSTGRES_DB: thabicare
      POSTGRES_USER: thabicare
      POSTGRES_PASSWORD: strongpassword
    volumes:
      - db_data:/var/lib/postgresql/data

  nginx:
    image: nginx:1.27-alpine
    container_name: thabicare_nginx
    restart: always
    ports:
      - "80:80"
    volumes:
      - static_volume:/app/staticfiles
      - media_volume:/app/media
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - web

volumes:
  db_data:
  static_volume:
  media_volume:
